/* Stylesheet */
.home{
background-color: lightgray;	

}

.gallery{
background-color: orange;	
}

/*NAV*/

.home li:nth-child(1) a {
font-weight: bold;
text-transform:capitalize;
text-shadow: 2px 2px 0px red;	
font-size: 2em;
}

.gallery li:nth-child(2) a {
font-weight: bold;
text-transform:capitalize;
text-shadow: 2px 2px 0px red;	
font-size: 2em;
}